*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div{
    display: flex;
    justify-content: center;
}
ol{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
}
img{
    max-width: 200px;
}
button{
    margin-top: 20px;
    margin-left: 120px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 50%;
    border-width: 0px;
    background-color: red;
    color: #eee;
}